@model LearningDotNetCoreApp.Modals.BookModal
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0 ? "active" : "")" aria-current="@(i==0 ? "true" : "")" aria-label="Slide @(i+1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                            <img src="@Model.Gallery[i].URL" class="d-block w-100" alt="@Model.Gallery[i].Name">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="form-label text-primary">By:</span>
                    <span class="font-monospace">@Model.Author</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @*<a class="btn btn-outline-primary" href="@Model.BookPdfUrl" target="_blank">Read now</a>*@
                     <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Read now</a>
                </div>
            </div>

            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="fw-bold">Category - </span>@Model.Category</li>
                <li class="list-group-item"><span class="fw-bold">Totl Pages - </span>@Model.TotalPages</li>
                <li class="list-group-item"><span class="fw-bold">Language - </span>@Model.Language</li>
            </ul>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
       @* <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>*@
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @*<embed src="@Model.BookPdfUrl" class= "w-100"/>*@
        <iframe src="@Model.BookPdfUrl" class= "w-100"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

